body, div, p, ul,table, dl, dt, tr, td, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, header, menu, section, p, input, td, th, ins {
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
    body, textarea, select, input, button {
font-size: 12px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-size-adjust: none;
}
html, body {
     width: 100%;
     height: 100%;
     border: 0;
     word-wrap: break-word;

    background: #f5f5f5;
 }
.nav{
   position: relative;
    height: 70px;
    background: #242424;
    border-bottom: 1px solid #000;
}
.nav-up{
    box-sizing: border-box;
    height:35px;
    background: #C20C0C;
    border-bottom: 1px solid #a40011;
    z-index: 90;
}
.nav-logo{
    float: left;
    width: 157px;
    height: 100%;
    padding-right: 20px;
    text-indent: -9999px;
}
.nav-up1{
    box-sizing: border-box;
    height:5px;
    background: #C20C0C;
    border-bottom: 1px solid #a40011;
    z-index: 90;
}
.wrap{
    width: 1100px;
    margin: 0 auto;
}
.nav-item,.nav-up-item{
    float: left;
}
.nav-up-item{
    padding-left: 180px;
}
.nav-item li,.nav-up-item li{
    list-style: none;
    float: left;
    position: relative;
}
.nav-item li a:hover,.nav-item a.z-slt {
    background: #000;
    text-decoration: none;
    color: #fff;
}
.nav-item li a{
    font-size: 14px;
    line-height: 70px;
    color: #ccc;
    padding: 0 19px 0;
    height: 70px;
    display: inline-block;
}
.nav-up-item  li a:hover em, .nav-up-item  a.z-slt em {
    background: #9B0909;
}
.nav-up-item li a{
    color: #fff;
    float: left;
    height: 34px;
    text-align: center;
}
.nav-up-item li a em{
    display:inline-block;
    height: 20px;
    padding: 0 13px;
    margin: 7px 17px 0;
    border-radius: 20px;
    line-height: 21px;
    font-style: normal;
}
li{
    list-style: none;
}
.nav-search{
    float: right;
    width: 158px;
    height: 32px;
}
.banner-img{
    position: relative;
    width:730px;
    height: 335px;

    overflow: hidden;
}
.banner-ii li{
    float:left;
    width: 730px;
    position:relative;
}

.banner-ii{
    position:relative;
    left:0px;
    top:0px;
    width: 6570px;
}
.banner-img img{
    display: block;
    width: 730px;
    height: 335px;

}
.bn-l{
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -31px;
    width: 37px;
    height: 63px;
    text-indent: -9999px;
    left: -68px;
    background:url(../img/banner.png) no-repeat 0 -360px;
}
.bn-l:hover{
    background: url(../img/banner.png) no-repeat 0 -430px;
}
.bn-r{
    right: -68px;
    position: absolute;
    top: 50%;
    margin-top: -31px;
    width: 37px;
    height: 63px;
    text-indent: -9999px;
    background: url(../img/banner.png) no-repeat 0 -508px;
}
.bn-r:hover{
    background: url(../img/banner.png) no-repeat 0 -578px;
}
.bn-l,.bn-r{
    z-index: 60;
}
.bn-di{
    position: absolute;
    top: 310px;
    left: 0;
    width: 730px;
    height: 20px;
    text-align: center;

}
.bn-di .bn-qu{
    display: inline-block;
    width: 20px;
    height: 20px;
    background:url(../img/banner.png) no-repeat 3px -343px;
}
.bn-qu:hover{
    background: url(../img/banner.png) no-repeat -16px -343px;
}
.active{
    background: url(../img/banner.png) no-repeat -16px -343px !important;
}

.parent{
    position: relative;
    margin: 8px 0 0 30px;
    display: block;
}
.parent input{
    color: #333;
    line-height: 16px;
    width: 95%;
    border: 0;
    background: transparent;
}
input:focus, textarea:focus, span:focus, a:focus, button:focus {
    outline: none;
}
.logo{
    background: url(../img/topbar.png) no-repeat;
    background-position: 0 0;
    float: left;
    width: 176px;
    height: 69px;
}
.nav-search{
    margin-top: 19px;
    border-radius: 32px;
    background:#fff url(../img/topbar.png) no-repeat 0 -99px;
}
.submit{
    float: right;
    color:#ccc;
    width: 90px;
    height: 32px;
    margin: 19px 0 0 12px;
    padding-left: 32px;
    line-height: 33px;
    background:url(../img/topbar.png)  no-repeat 0 -140px;
    position: relative;
    zoom: 1;
    box-sizing: border-box;
}
.submit:hover{
    background-position: -100px -140px;
    color: #fff;
    text-decoration: none;
}
.nav-login{
    float: right;
    height: 45px;
    margin: 19px 0 0 20px;
    padding: 0 22px 0 0;
    background:url(../img/topbar.png) no-repeat right -47px;
    position: relative;
    zoom: 1;
}
.nav-login a{
    display: block;
    width: 28px;
    margin-top: 7px;
    color: #787878;
}
.nav-item a.z-slt .cor{
    background: url(../img/topbar.png) no-repeat -226px 0;
    display: block;
    position: absolute;
    left: 50%;
    top: 64px;
    width: 12px;
    height: 7px;
    margin-left: -6px;
    overflow: hidden;
}
#hot{
    background: url(../img/topbar.png) no-repeat -190px 0;
    position: absolute;
    display: block;
    top: 21px;
    left: 100px;
    width: 28px;
    height: 19px;
}
.cor1{
    background: url(../img/topbar.png) no-repeat -226px 0;
    position: absolute;
    display: block;
    top: 64px;
    left: 50%;
    margin-left: -6px;

    width: 12px;
    height: 7px;
}
.banner{
    background-color: #D3D455;
}
.banner .wrap {
    position: relative;
    width: 980px;
    height: 335px;
    margin: 0 auto;
}
.download{
    background:url(../img/download.png) no-repeat;
    position: absolute;
    top: 0;
    z-index: 20;
    right: -1px;
    width: 254px;
    height: 335px;
    color: #8d8d8d;
    text-align: center;

}
.download p{
    margin: 10px 0px;
}
.banner-btn{
    background: url(../img/download1.png) no-repeat;
    display: block;
    width: 215px;
    height: 56px;
    margin : 212px 0 0 19px;
    text-indent: -9999px;
}
.banner-btn:hover{
    background: url(../img/download2.png) no-repeat;
    display: block;
    width: 215px;
    height: 56px;
    margin : 212px 0 0 19px;
    text-indent: -9999px;
}
.shadow{
    position: absolute;
    background:url(../img/banner.png) no-repeat -1px 0;
    top: 0;
    left: -20px;
    width: 20px;
    height: 336px;
}
.shadowr{
    position: absolute;
    background:url(../img/banner.png) no-repeat -20px 0;
    top: 0;
    left:auto;
    right: -20px;
    width: 20px;
    height: 336px;
}
.nav-up p{
    margin: 10px auto;
    text-align: center;
    color: #8d8d8d;
}
.con{
    width: 980px;
    min-height: 700px;
    margin: 0 auto;
    margin-top: 2px;
}
.con:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}
.cons{
    background: url(../img/wrap5.png) repeat-y center 0;    border: 1px solid #d3d3d3;
    border-width: 0 1px;
}
.con1{
    float: left;
    width: 100%;
    margin-right: -250px;
    background: #ffffff;
}
.con2{
    margin-right: 251px;
    float: left;
    background: #ffffff;
}
.con3{
    padding: 20px 20px 40px;
}
.coc{
    width: 680px;
    float: left;
}
.con-all{
    padding: 40px;
}
.remen{
    border-bottom: 2px solid #C10D0C;
    height: 33px;
    padding: 0 10px 0 34px;
    background:url(../img/dian.png) no-repeat 10px 6px;
}
.remen1{
    border-bottom: 2px solid #C10D0C;
    height: 33px;
    padding: 0 10px 0 34px;
}
.remen a,.remen1 a{
    color:#666;

}
.remen .tuijian,.remen1 .tuijian{
    font-size: 20px;
    color: #333;
    float: left;
    line-height: 30px;
}
.remen  span{
    color: #bababa;
}

.r-list p{
    white-space: normal;
    margin: 8px 0 0 3px;
}
.tab{
    margin:7px 0 0 20px;
    float: left;
}
.tab span{
    margin:0 10px 0;
}
.remen .more,.remen1 .more{
    float: right;
    right: 0px;
    line-height: 30px;
}
.remen i{
    background:url(../img/index.png) no-repeat 0 -240px;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 4px;
    vertical-align: middle;
}
.r-img{
    position: relative;
    width: 140px;
    height: 140px;
}
.r-img img{
 width:100%;
}
.r-list li{
    transition:0.5s;
}
.r-list li:hover{
    transform: scale(1.1);
}
.r-img .r-tuceng{
    background: url(../img/coverall.png) no-repeat 0 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.r-list{
    margin: 20px 0 0 -42px;
}
.r-list li{
    list-style: none;
    line-height: 1.4;
    width: 140px;
    height: 204px;
    padding: 0 0 30px 42px;
    float: left;
    display: inline-block;
    overflow: hidden;
    box-sizing: content-box;
}
.r-list:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}
.r-list .caption{
    width: 100%;
    height: 27px;
    color: #ccc;
    background: url(../img/coverall.png) no-repeat 0 -537px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.e-ico{
    float: left;
    width: 14px;
    height: 11px;
    background: url(../img/iconall.png) no-repeat 0 -24px;
    display: inline-block;
    margin: 9px 5px 9px 10px;
}
.nub{
    margin-top: 7px;
    float: left;
}
.start{
    background:url(../img/iconall.png) no-repeat 0 0;
    position: absolute;
    right: 10px;
    bottom: 5px;
    width: 16px;
    height: 17px;
}
.start:hover{
    background-position: 0 -60px;
}
.r-biao {
    text-align: left;
}
.r-biao a{
    color: #000;
    font-size: 14px;
}
.adv {
    width: 687px;
    height: 75px;
    margin-bottom: 35px;
}
.adv img{
    width: 687px;
}
.x-bor{
    width: 687px;
    height: 186px;
    border: 1px solid #d3d3d3;
    margin: 20px 0 37px;
}
.x-block{
    height: 184px;
    padding-left: 16px;
    background: #f5f5f5;
    border: 1px solid #fff;
    position: relative;
}
.x-roll{
    width: 654px;
    height: 180px;
    float: left;
    overflow: hidden;
    position: relative;
    zoom:1;

}
.x-roll ul{
    position: absolute;
    margin-top: 28px;
}
.x-roll ul li{
    width: 118px;
    height: 150px;
    float: left;
    margin-left: 11px;
    background: url(../img/index.png) no-repeat -260px 100px;
    list-style: none;
    box-sizing: border-box;
    display: inline;
}
.x-roll .x-bg{
    background:url(../img/coverall.png) no-repeat 0 -570px;
    width: 118px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
}
.x-cover{
    margin-bottom: 7px;
    width: 100px;
    height: 100px;
    position: relative;
    display:block;
}
.x-mvn a{
    line-height: 18px;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    color: #000;
}
.x-nor a,.x-nor{
    color: #666;
    line-height: 18px;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.btn-l{
    background: url(../img/index.png) no-repeat -260px -75px;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 71px;
    left: 4px;
}
.btn-r{
    background: url(../img/index.png) no-repeat -300px -75px;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 71px;
    right: 4px;
}

.n-list{
    height: 472px;
    margin-top: 20px;
    padding-left: 1px;
    background:url(../img/index_bill.png) no-repeat ;
}
.blk{
    float: left;
    width: 230px;
    padding: 0;
    margin: 0;

}
dl{
    list-style: none;
}
dd{
    margin: 0;
    padding: 0;
}
.n-list .oll li {
    height: 32px;
    position: relative;

}
.n-list ol li * {
    vertical-align: middle;
}
.top{
    height: 120px;
    padding: 20px 0 0 19px;
}
.n-img {
    width: 80px;
    height:80px;
    display: inline;
    position: relative;
    float: left;
}
.n-img img{
    width: 100%;
    height: 100%;
}
.msk{
    background: url(../img/coverall.png) no-repeat -145px -57px;    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.n-title{
    float: left;
    color: #333;
    margin: 6px 0 0 10px;             width: 116px;
    font-size: 14px;
    height: 100px;
}
.n-btn{
    margin-top: 10px;
}
.n-list .oll{
    height: 319px;
    line-height: 32px;
    list-style: none;
    margin-left: 50px;
    padding: 0;
}
.n-name{
    float: left;
    width: 96px;
    height: 32px;
    position: absolute;
    left: 0;
}
.n-nub{
    float: left;
    position: absolute;
    width: 35px;
    height: 32px;
    margin-left: -35px;
    text-align: center;
    font-size: 16px;
    color: #666;
    left: 0;
}
.n-start{
    display: block;
    float: left;
    width: 22px;
    height: 22px;
    margin-right: 10px;
    text-indent: -9999px;
    background: url(../img/index.png) no-repeat -267px -205px;
    text-decoration: none;
}
.n-start1{
    display: block;
    float: left;
    width: 17px;
    height: 17px;
    margin-right: 10px;
    background: url(../img/index.png) no-repeat -267px -268px;
    text-decoration: none;
}
.open{
    float: right;
    position: absolute;
    width: 82px;
    margin-top: 7px;
    right: 0;
    display:block;
}
.n-cot{
    display: block;
    float: left;
    width: 22px;
    height: 22px;
    margin-right: 10px;
    text-indent: -9999px;
    background: url(../img/index.png) no-repeat -300px -205px;
    text-decoration: none;
}
.n-cot1{
    display: block;
    float: left;
    width: 17px;
    height: 17px;
    margin-right: 10px;
    text-indent: -9999px;
    background: url(../img/index.png) no-repeat -297px -268px;
    text-decoration: none;

}
.n-add {
    display: block;
    float: left;
    width: 17px;
    height:17px;
    text-indent: -9999px;
    background: url(../img/icon.png) no-repeat 0 -700px;
    text-decoration: none;
    margin: 2px 6px 0 0;
}
.n-more{
    clear: both;
    height: 32px;
    margin-right: 32px;
    text-align: right;
    line-height: 32px;
}
.n-more a{
    color: #000;
    float: right;
    right: 32px;
    display: block;
}
:focus {
    outline: -webkit-focus-ring-color auto 5px;
}

.con4{
    width: 250px;
    float: right;
    position: relative;
    zoom: 1;
    z-index: 999;
}
.con5{
    position: relative;
    float: right;
    width: 296px;
    padding: 0 1px;
    zoom: 1;
    z-index: 999;

}
.r-login{
    height: 126px;
    background: #1F1A16;
    padding-top: 0;
    text-align: center;
}
.r-login a:hover{
    background: #ee0000;
    transform:scale(1.2);
}
.r-login p{
    padding: 16px 0 16px;
    font-size: 9px;
    margin:0 40px 0;
    color: #ffffff;
}
.r-login a{
    display: block;
    width: 100px;
    height: 33px;
    background: #DE0000;
    margin: 0 auto;
    line-height: 33px;
    color: #ffffff;
}
#fan{
    float: left;
}
.n-singer{

    background: #ffffff;
}
.s-tit{
    position: relative;
    height: 23px;
    margin: 20px 20px 0;
    color: #333;
    background: #ffffff;
    line-height: 25px;
}
.s-tit a{
    float: right;
    right: 0;
}
.n-singer ul{
    margin: 6px 0 14px 20px;
    color: #666;
}
.n-enter li {
    margin-top: 14px;
}

.n-singer ul li,.n-singer ul li .faa{
    float: left;
    width: 210px;
    height: 62px;
    background: #fafafa;
}
.s-list{
    position: relative;
    margin-top: 14px;
}
.s-list:hover{
    transform:scale(1.2);
}
.s-item{
    float: left;
    width: 133px;
    height: 60px;
    padding-left: 14px;
}
.s-head{
    float: left;
    width: 62px;
    height: 62px;
}
.s-item h4,.s-item p{
    margin-top: 8px;
}
.s-item h4{
    color: #333;
}
.s-item p{
    color: #666;
}
.f-cb:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}
.mcm{
    display: block;
    width: 210px;
    height: 31px;
    background: #DE0000;
    text-align: center;
    line-height: 32px;
    color: #ffffff;
    font-weight: bold;
    margin-left: 20px;
}
.mcm:hover{
    background: #eb0000;
}
.retui{
    margin-top: 30px;
}
.retui h3{
    margin: 0 20px;
}
.retui ul li,.retui ul li a,.retui .s-head,.s-item{
    height: 50px;
}
.retui .s-head{
    width: 40px;
}
.retui ul li .faa,.retui ul li {
    background: #ffffff;
    margin: 0;
}
.retui .s-head img{
    width: 40px;
}
.retui .s-item{
    width: 170px;
}
.retui .s-item p{
    margin:0;
    padding: 0;
    line-height: 21px;
    width: 100%;
}
.retui .s-item p a{
    color: #000;
}
.bgv{
    background: url(../img/icon.png) no-repeat 0 1px;
    margin-top: -1px;
    width: 11px;
    height: 13px;
    display: inline-block;
    line-height: 21px;    vertical-align: middle;
}
.footer1{

    position: relative;
    height: 148px;
    overflow: hidden;
    border-top: 1px solid #d3d3d3;
    background: #f2f2f2;
}
.footer2{
    width: 980px;
    margin: 0 auto;
}
.footer2:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}
.fl{
    float: left;
    width: 520px;
    padding-top: 15px;
    line-height: 24px;
}
.fl .tab1 a{
    color: #c2c2c2
}
.fl .tab1 span{
    margin: 0 8px 0 10px;
    color: #c2c2c2;
}
.f-p{
    display: block;
}
.fr-u{
    float: right;
    margin-top: 21px;
}
.fr-u li{
    float: left;
    width: 60px;
    height: 70px;
    text-align: center;
    color: #666;
    margin-left: 30px;
}
.fr-1{
    background: url(../img/foot_enter_new.png) no-repeat 0 0;
}
.fr-l1{
    background: url(../img/foot_enter_new.png) no-repeat -60px 0;
}
.fr-l2{
    background: url(../img/foot_enter_new.png) no-repeat 0 -50px;
}
.fr-l3{
    background: url(../img/foot_enter_new.png) no-repeat -60px -50px;
}
.fr-l4{
    background: url(../img/foot_enter_new.png) no-repeat 0 -100px;
}
.fr-li{
    display: block;
    float: none;
    width: 44px;
    height: 44px;
    margin: 0 auto;
    background-size: 110px 450px;
}
.tt{
    background: url(../img/foot_enter_tt.png) no-repeat 0 0;
}
.tt1{
    background: url(../img/foot_enter_tt.png) no-repeat 0 -20px;
}
.tt2{
    background: url(../img/foot_enter_tt.png) no-repeat 0 -40px;
}
.tt3{
    background: url(../img/foot_enter_tt.png) no-repeat 0 -60px;
}
.tt4{
    background: url(../img/foot_enter_tt.png) no-repeat 0 -80px;
}
.fr-tt{
    display: inline-block;
    margin: 5px 5px 0;
    width: 50px;
    height: 10px;
    background-size: 180px 100px;
}

.m-tlist{
    position: absolute;
    top: 38px;
    right: -43px;
    width: 158px;
    background: #2b2b2b;
    border: 1px solid #202020;
    box-shadow: 0 8px 24px 0 rgba(0,0,0,50);
    border-radius: 4px;
    z-index: 9999;
}
.lb{
    float: left;
    box-sizing: border-box;
    width: 100%;
    list-style: none;
}
.lb a{
    float: left;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    height: 38px;
    overflow: hidden;
    padding-left: 24px;
    color: #ccc;
    line-height: 39px;
}
.m-tlist .arr{
    position: absolute;
    top: -8px;
    left: 50%;
    height: 8px;
    margin-left: -7px;
    background: url(../img/toplist.png) no-repeat -20px 0;
}
em, i {
    font-style: normal;
    text-align: left;
    font-size: inherit;
}
.lb-1{
    float: left;
    width: 18px;
    height: 18px;
    margin: 10px 10px 0 -7px;
    background: url(../img/toplist.png) no-repeat 0 0;
}
.lb-2{
    float: left;
    width: 18px;
    height: 18px;
    margin: 10px 10px 0 -7px;
    background: url(../img/toplist.png) no-repeat -20px -20px;
}
.lb-3{
    float: left;
    width: 18px;
    height: 18px;
    margin: 10px 10px 0 -7px;
    background: url(../img/toplist.png) no-repeat -20px -40px;
}
.lb-4{
    float: left;
    width: 18px;
    height: 18px;
    margin: 10px 10px 0 -7px;
    background: url(../img/toplist.png) no-repeat 0 -20px;
}
.lb-5{
    float: left;
    width: 18px;
    height: 18px;
    margin: 10px 10px 0 -7px;
    background: url(../img/toplist.png) no-repeat 0 -40px;
}
.lb-7,.lb-8.lb-9,.lb-10,.lb-11,.lb-12{
    float: left;
    width: 18px;
    height: 18px;
    margin: 7px 10px 0 0;
}
.lb-7{
    background: url(../img/toplist.png) no-repeat 0 -80px;
}
.lb-8{
    background: url(../img/toplist.png) no-repeat -20px -120px;
}
.lb-9{
    background: url(../img/toplist.png) no-repeat 0 -100px;
}
.lb-10{
    background: url(../img/toplist.png) no-repeat 0 -221px;
}
.lb-11{
    background: url(../img/toplist.png) no-repeat 0 -140px;
}
.lb-12{
    background: url(../img/toplist.png) no-repeat 0 -200px;
}

.m-tlist a:hover{
    background: #353535;
    text-decoration: none;
    color: #fff;
}
.nav-login a:hover{
    color: #666;
}
.g-bd{
    width: 980px;
    min-height: 700px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-width: 0 1px;
}
.all-ms{
    height: 40px;
    border-bottom: 2px solid #C20C0C;
}
.all-ms h3{
    float: left;
    font-size: 24px;
    font-weight: normal;

}
.all-chose{
    font-size: 12px;
    font-weight: normal;
    margin: 2px 0 0 12px;
    color: #333;
    display: inline-block;
    white-space: nowrap;
    padding: 0 5px 0 0;
    text-decoration: none;
    background:url(../img/button2.png) right -100px;
    height: 31px;
    line-height: 31px;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
}
.all-chose i{
   color: #0c73c2 !important;
    background: url(../img/button2.png) no-repeat 0 -59px;
    font-size: 12px;
    font-weight: normal;
    display: inline-block;
    white-space: nowrap;
    padding: 0 10px 0 15px;
    text-decoration: none;
    height: 31px;
    line-height: 31px;
    vertical-align: top;
    text-align: center;
    cursor: pointer;

}
.all-fenlei{
    float: right;
    width: 93px;
    height: 29px;
    background: url(../img/button.png) no-repeat 0 0;
}
.all-fenlei a{
    color: #333;
    float: left;
    height: 29px;
    width: 46px;
    line-height: 29px;
    text-align: center;
    text-decoration: none;
}

.u-icn38{
    margin-left: 5px;
    width: 8px;
    height: 5px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    background: url(../img/icon.png) no-repeat -70px -543px;
    pointer-events: none;
    line-height: 31px;
}
.u-page{
    margin: 20px 0;
    text-align: center;
}
.all-n{
    color: #cacaca;
    cursor: default;
    background: url(../img/button.png) no-repeat 0 -620px;

}
.z-btn{
    width: 57px;
    padding-left: 12px;
    height: 24px;
    line-height: 24px;
    color: #333;
    text-align: left;


    background: url(../img/button.png) no-repeat -75px 560px;
}
 .z-btn,.zpgi {
    margin: 0 1px 0 2px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    vertical-align: middle;
}
.zpgi{
    background: url(../img/button.png) no-repeat 0 9999px;
    cursor: default;
    margin: 0 1px 0 2px;
    display: inline-block;
    border-radius: 2px;
    vertical-align: middle;
    height: 22px;
    padding: 0 8px;
    border: 1px solid #ccc;
    line-height: 24px;

}
.mus{
    width: 980px;
    min-height: 700px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #d3d3d3;
}
.mus-1{
    width: 807px;
    height: 268px;
    margin: 0 auto 0;
    padding-top: 104px;
    background: url(../img/mymusic.png) no-repeat 0 104px;
    box-sizing: content-box;
}
.mus-1 .clc a{
    display: block;
    width: 167px;
    height: 45px;
    margin:102px 0 0 482px;
    background: url(../img/mymusic.png) no-repeat 0 9999px;
    text-indent: -9999px;
}
.mus-2{
    width: 902px;
    height: 414px;
    margin: 0 auto 0;
    padding-top:70px;
    background: url(../img/notlogin.jpg) no-repeat 0 104px;
    box-sizing: content-box;
}
.mus-2  a{
    display: block;
    width: 157px;
    height: 48px;
    margin:36px 0 0 535px;
    background: url(../img/notlogin.jpg) no-repeat 0 9999px ;
    text-indent: -9999px;
}
.dis-n{
    display: none;
}
.dont{
    margin: 6px 0 0 10px;
    cursor: pointer;
    overflow: hidden;
    background: url(../img/frd_dyn_sprite.png) no-repeat 0 -452px;
    width: 71px;
    height: 24px;
    float: right;
}
.dont:hover {
    background-position: 0px -480px;
}
.fshi{
    cursor: pointer;
    margin: 6px 0 0 10px;
    overflow: hidden;
    width: 84px;
    height: 24px;
    background: url(../img/frd_dyn_sprite.png) no-repeat -100px -452px;
    display: inline-block;
    vertical-align: top;
    float: right;
}
.fshi:hover {
    background-position: -100px -480px;
}
.d-bgst:hover{
    opacity: 1;
}
.gzhu{
    top: -10px;
    right: -135px;
    background: #fff;
    border: 1px solid #ccc;
    color: #333;
    width: 52px;
    height: 22px;
    border-radius: 2px;
    line-height: 22;
    font-size: 12px;
    cursor: pointer;
    position: absolute;
}
.gzhu i{
    float: left;
    margin: 5px 4px 0 6px;
    width: 12px;
    height: 12px;
    background: url(../img/frd_dyn_sprite.png) no-repeat -65px 0;
    display: inline-block;
    vertical-align: top;
}
.gzhu span{
    float: right;
    height: 100%;
    position: absolute;
    top: -120px;
    left: 17px;
}
.xiala{
    display: block;
    position: absolute;
    top: -7px;
    right: -162px;
    width: 19px;
    height: 19px;
    background: url(../img/frd_dyn_sprite.png)no-repeat -15px 0;
    vertical-align: top;
}


